body {
  background-color: #000;
  height: 100%;
}
.circle {
  height: 8px;
  width: 8px;
  background-color: #808080;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
}
h1 {
  padding: 15px 40px;
  text-decoration: none;
  background: #80808073;
  color: #a4a4a4;
  font-size: 20px;
}
